@import "./styles/variables";

* {
  box-sizing: border-box;
  color: $c-gray;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #e5e5e5;
  font-size: $f-size-base;
}

h2 {
  margin: 0;
  font-size: $f-size-normal;
}
